{% extends "base.html" %}

{% set id="files" %}

{% block content %}

	{% include "_elements/pathlink.html" %}

	{% if path %}
		{% set base=_base + "/files/" + path %}
	{% else %}
		{% set base=_base + "/files" %}
	{% endif %}

	<table class="directory-listing">
		{% for file, is_dir in files %}
			{% if is_dir %}
			<tr class="directory">
				<td><a href="{{ base }}/{{ file }}/index.html"><span class="glyphicon glyphicon-folder-open"></span> {{ file }}</a></td>
			</tr>
			{% else %}
			<tr class="file">
				<td><a href="{{ base }}/{{ file }}.html"><span class="glyphicon glyphicon-file"></span> {{ file }}</a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>

{% endblock %}
