{% extends "base.html" %}

{% block content %}

  <h2>Functions index</h2>

  {% if path %}
		{% set base=_base + "/files/" + path %}
	{% else %}
		{% set base=_base + "/files" %}
	{% endif %}

	<table>
		{% for func, files in funcs|dictsort %}
		{% if files %}
		<tr>
			<td>{{ func }}</td>
			<td>
				<ul>
					{% for path, lines in files|dictsort %}
					{% set link=_base + '/files/' + path + '.html' %}
						<li><a href="{{ link }}">{{ path }}</a> ({% for l in lines -%}<a href="{{ link }}#l-{{ l }}">{{ l }}</a>, {% endfor %})</li>
					{% endfor %}
				</ul>
			</td>
			<td><a href="{{ _base }}/posix_doc/functions/{{ func }}.html">Documentation</a></td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>

{% endblock %}
